@model StoreApp
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <a asp-action="App" asp-route-id="@Model.ID" class="wishlist-item">
            <img src="@Model.HeaderImage" class="img-fluid" />

            <div class="price">
                @if (Model.Pricing == null || Model.Pricing.Final == null) {
                    @:TBA
                } else {
                    <span display-for="Pricing.FinalDisplay"></span>
                }
            </div>

            @if (Model.Pricing != null && Model.Pricing.IsOnSale) {
                <div class="sale-notification">
                    On Sale - <span display-for="Pricing.DiscountPercentageDisplay"></span>
                </div>
            }
        </a>
    </div>