<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand small-caps" asp-action="Index" asp-controller="Home" asp-area="" display-for="@AppSettings.Value.AppName"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse text-light" id="navbar-navmenu">
            <span class="navbar-text mr-auto">
                <environment include="Development">
                    <span class="text-warning">Development Server</span>
                </environment>
            </span>
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated) {
                    <li class="nav-item">
                        <a asp-action="Logout" asp-controller="Account" asp-area="" class="nav-link">
                            Logout
                        </a>
                    </li>
                    @*<li class="nav-item">
                            <a asp-action="Login" asp-controller="Account" asp-area="" class="nav-link">
                                Login
                            </a>
                        </li>*@
                } else {

                }
                @if (User.IsInRole(RoleTypes.Admin)) {
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="nav-link">Site Management</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>